@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    /* 1. Default (Light Mode) styles first */
    @apply bg-white text-gray-900 antialiased; 
    
    /* 2. Dark Mode overrides second */
    @apply dark:bg-dark dark:text-white;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-purple-500;
  }
}
